.projects {
  width: 100vw;
  height: 60%;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
}

.project-list {
  display: flex;
  height: 100%;
  width: 95%;
  justify-content: space-evenly;
}
