.footer {
  width: 100vw;
  height: 50%;

  background-color: #3f3f3f;

  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-items: center;
}

.footer-logo {
  color: #dc4b4c;
  display: inline-block;

  font-size: 4rem;
}

.footer-links {
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-links a {
  color: #fcfcfc;
  display: inline-block;
  font-size: 2rem;
}

.footer-links img {
  filter: opacity(0.4) drop-shadow(0 0 0 #f0efeb) saturate(10%);
  height: 3.5rem;
  width: auto;
}

.footer-text {
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 400;

  font-size: 1.25rem;
  color: #f0efeb;
}

.footer-text.sub {
  font-size: 1rem;
  font-weight: 600;
}
