body {
  font-family: 'Open Sans Condensed';
  background: #f0efeb;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  display: flex;
  flex-wrap: wrap;

  height: 100vh;
}

.polygon {
  position: absolute;
  background-color: #fcfcfc;
  width: 100%;
  height: 100%;
  top: 50rem;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 0%);
  z-index: -1;
}
